
header {
	color: 	#ff6347;
	font-size: 30px;
	font-family: 'Roboto Mono', sans-serif ;
}

.left {
	float: left;
	width: 45%;
	margin-right: 10px;
}

.right {
	float: right;
	width: 45%;
	margin-left: 10px;
}

h2 {
	border-bottom: 1px solid #ff6347;
	color: #333333 ;
	margin-bottom: 5px;
	font-family: 'Roboto Mono', sans-serif ;
}

h3 {
	color: #555555;
	margin-bottom: 5px;
}

p {
	margin-left: 5px;
}

.javascript {
	font-style: italic;
}