/*
1. What is important to know when linking an external file (like a stylesheet) to an HTML file?
  A link tag needs three attributes: type, rel, and href. When linking a stylesheet these will be
   type="text/css" rel="stylesheet" href="the file path"

2. What tricks did you use to help you with positioning? How hard was it to get the site as you wanted it?
  To position the two collumns of links we used divs and floated one to the left and one to the right.
  Also the footer element had to clear both in order for it to drop to the bottom of the page where it 
  is supposed to be. I liked to put borders around elements to see if I needed to change the margin or the padding
  to get their positioning how I wanted them.

3. What CSS did you use to modify the element style (like size, color, etc.)
  We used color to change the text color to navy, background-color to change the background to white, 
  font-family to change the header to have sans-serif font and modified a lot of text elements size using
  font-size.

4. Did you modify the HTML to include classes or ids? If so, which did you choose and why? If you didn't, how would you know which one to add to your HTML?
  We used both classes and ids in the HTML. Since they were only going to be used once, we used ids for both the 
  divs that contained the link elements to float those left and right. We also created a linebreak class to insert 
  the linebreaks multiple times throughout the page without using HTML.
5 .When you compared your site to the actual code base, which do you think had cleaner code that followed best practices and why?
  The actual code base styled their page in the HTML instead of using CSS which does not follow best practices.
*/

body {
  color: #000080;
  background-color: #ffffff;
}

header {
  font-weight: bold;
  text-align: left;
  font-family: sans-serif;
  background-color: #d3d3d3;
}

h1 {
  text-transform: uppercase;
  margin-bottom: 1px;
  padding-bottom: 0px;
  display: inline;
}
header > p {
  margin: 1px;
  text-align: left;
}
h3 {
  padding-top: 0px;
  margin-left: 30px;
  margin-top: 0px;
  display: inline;
}
span {
  font-size: 50px;
}

.linebreak {
  width: 100%;
  height: 1px;
  background-color: black;
}

a {
  color: #800080;
}

a:visited {
  color: #ff0000;
}

#left {
  float: left;
  width: 50%;
}

#right {
  float: right;
  width: 50%;
}


li a {
  font-size: 15px;
}

li {
  font-size: 11px;
  padding: 7px;
}

footer {
  clear: both;
}

.geico {
  text-align: center;
  text-transform: uppercase;
  font-size: 11px;
  margin-top: 1px;
}
.comments {
  font-size: 11px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
}

